{{!< layout}}



<div class="py-container">
    <div class="yui3-g home">
      {{> member-silder}}
      <!--右侧主内容-->
      <div class="yui3-u-5-6 body">
        <form class="sui-form form-horizontal profile-form" action="/member/profile" method="post" enctype="multipart/form-data">
          <div class="control-group">
            <label for="username" class="control-label">用户名：</label>
            <div class="controls">
              <input type="text" id="username" class="input-xfat" value="{{currentUser.username}}" readonly>
            </div>
          </div>
          <div class="control-group">
            <label for="avatar" class="control-label">头像：</label>
            <div class="controls">
              <label class="avatar-box">
                <img src="/uploads/avatar-{{currentUser.user_id}}.png" width="80">
                <input type="file" id="avatar" name="avatar">
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">性别：</label>
            <div class="controls">
              <label>
                <input type="radio" name="user_sex" value="男" {{#equal currentUser.user_sex '男'}}checked{{/equal}}>
                <span>男</span>
              </label>
              <label>
                <input type="radio" name="user_sex" value="女" {{#equal currentUser.user_sex '女'}}checked{{/equal}}>
                <span>女</span>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label for="user_qq" class="control-label">QQ：</label>
            <div class="controls">
              <input type="text" id="user_qq" class="input-xfat" name="user_qq" value="{{currentUser.user_qq}}">
            </div>
          </div>
          <div class="control-group">
            <label for="user_tel" class="control-label">手机：</label>
            <div class="controls">
              <input type="text" id="user_tel" class="input-xfat" name="user_tel" value="{{currentUser.user_tel}}">
            </div>
          </div>
          <div class="control-group">
            <label for="user_xueli" class="control-label">学历：</label>
            <div class="controls">
              <select name="user_xueli" id="user_xueli" class="input-xfat">
                <option {{#equal currentUser.user_xueli '小学'}}selected{{/equal}}>小学</option>
                <option {{#equal currentUser.user_xueli '初中'}}selected{{/equal}}>初中</option>
                <option {{#equal currentUser.user_xueli '高中'}}selected{{/equal}}>高中</option>
                <option {{#equal currentUser.user_xueli '专科'}}selected{{/equal}}>专科</option>
                <option {{#equal currentUser.user_xueli '本科'}}selected{{/equal}}>本科</option>
                <option {{#equal currentUser.user_xueli '硕士'}}selected{{/equal}}>硕士</option>
                <option {{#equal currentUser.user_xueli '博士'}}selected{{/equal}}>博士</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label for="user_hobby" class="control-label">兴趣：</label>
            <div class="controls">
              <textarea id="user_hobby" class="input-xfat" name="user_hobby" cols="80" rows="3">{{currentUser.user_hobby}}</textarea>
            </div>
          </div>
          <div class="control-group">
            <label for="user_introduce" class="control-label">简介：</label>
            <div class="controls">
              <textarea id="user_introduce" class="input-xfat" name="user_introduce" cols="80" rows="6">{{currentUser.user_introduce}}</textarea>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">&nbsp;</label>
            <div class="controls">
              <button type="submit" class="sui-btn btn-primary btn-xlarge">保存</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  {{#contentFor 'script'}}
  <script src="/assets/js/sui.carousel.js"></script>
  <script src="/assets/js/sui.tab.js"></script>
  <script src="/assets/js/sui.transition.js"></script>
  <script>
  $(function($){
    $('#avatar').on('change', function(){
      var $this = $(this)
      var file = $(this).prop('files')[0]
      var reader = new FileReader()
      reader.readAsDataURL(file)

      reader.onload = function () {
         $this.prev().fadeOut(function () {
           $(this).attr('src', reader.result).fadeIn()
         })
       }
    })
  })
  </script>
  {{/contentFor}}